{% extends 'comun/base.html' %}
{% import 'comun/modal_eliminar.html' as modal_eliminar %}

{% block content %}
<div class="container p-2">
    <h2 class="text-center">Lista de Carreras</h2>
    <form method="GET" action="/carreras" class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <label for="programa_nombre">Programa:</label>
                <input type="text" id="programa_nombre" name="programa_nombre" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="facultad_nombre">Facultad:</label>
                <input type="text" id="facultad_nombre" name="facultad_nombre" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="universidad_nombre">Universidad:</label>
                <input type="text" id="universidad_nombre" name="universidad_nombre" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="campus_nombre">Campus:</label>
                <input type="text" id="campus_nombre" name="campus_nombre" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="submit" value="Filtrar" class="btn btn-primary">
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Programa</th>
                <th>Facultad</th>
                <th>Universidad</th>
                <th>Campus</th>
            </tr>
        </thead>
        <tbody>
            {% for carrera in carreras %}
            <tr>
                <td>{{ carrera.id }}</td>
                <td>{{ carrera.programa.nombre }}</td>
                <td>{{ carrera.facultad.nombre }}</td>
                <td>{{ carrera.universidad.nombre }}</td>
                <td>{{ carrera.campus.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a class="btn btn-primary" href="{{ url_for('routes.index') }}">Volver a Inicio</a>
</div>
{% endblock %}
