{% extends 'comun/base.html' %}

{% block content %}
	<div class="container">
    <h1>Registro</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">Inicia sesión</a></p>
	</div>
{% endblock %}